{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Image server administration</h1>
            {% if not current_user.is_authenticated %}
            <p>You are not logged in. Please log in to proceed.</p>
            <p>
                <a class="btn btn-primary" href="{{ url_for('security.login', next='/auth/admin/') }}">login</a>
            </p>
            {% else %}
            <p>Welcome {{ current_user.email }}!
            <p>If you are an administrator you can add and edit users and roles using the menu on top.</p>
            <p>Click <a href="{{ url_for('security.logout', next='/auth/admin/') }}">here</a> if you want to log out.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}
